In [1]:
import duckdb
import pandas as pd
import os

# Construct the path to your database relative to the notebook location
DB_PATH = os.path.join("..", "data", "simulation.db")

# Connect to the DuckDB database
con = duckdb.connect(DB_PATH)

In [39]:
# display orders table
df = con.execute("SELECT * FROM order_events").fetchdf()
df.head(5)

  order_id  arrival_time    due_date  start_pick_time  end_pick_time picker_id
0        0      2.040121   65.041412         2.040121       7.040121  Picker-1
1        1      2.683369   89.468658         2.683369       7.683369  Picker-2
2        2      5.350554  146.554489         7.040121      12.040120  Picker-1
3        3      9.805130   80.237793         9.805130      14.805130  Picker-2
4        4     10.901222   74.476891        12.040120      17.040121  Picker-1

In [7]:
cycle_time_query = """
SELECT
    AVG(end_pick_time - arrival_time) as time_in_system
FROM order_events
WHERE end_pick_time IS NOT NULL 
"""

workload_query = """
SELECT
    picker_id,
    COUNT(order_id)
FROM order_events
WHERE picker_id IS NOT NULL
GROUP BY picker_id
"""

In [8]:
con.execute(cycle_time_query).fetchdf()

   time_in_system
0        8.747141

In [9]:
con.execute(workload_query).fetchdf()

  picker_id  count(order_id)
0  Picker-1               82
1  Picker-2               81
2  Picker-3               81

In [5]:
con.execute("SELECT * FROM shifts").fetchdf()

   shift_id   shift_name  start_time  end_time
0         1    Day Shift         0.0     480.0
1         2  Night Shift       480.0     960.0

In [10]:
con.close()